.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    max-height: 100%;
    
  }

    body {
  background-color: rgb(253, 250, 255);
  
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  
  .container {
    margin: auto;
    max-width: 1200px;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 1px 8px rgb(180, 180, 180);
    user-select: none;
    
  }
  
  header nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  header nav > ul > li {
    width: 100%;
    padding: 1rem;
  }
  
  header nav > ul > li > a {
    text-decoration: none;
    color: rgba(10, 10, 10, 0.5);
  }
  
  header nav > ul > li > a:hover {
    color: rgb(10, 10, 10);
  }
  
  header nav > ul > li:nth-child(4) > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  header nav > ul > li:nth-child(4) > a > span {
    width: max-content;
  }
  
  header nav > ul > li:nth-child(4) > a > span:first-child {
    color: rgb(222, 55, 255);
    font-size: 1.5rem;
  }
  
  header nav > ul > li:nth-child(4) > a > span:last-child {
    color: rgba(10, 10, 10, 0.66);
    font-size: 0.9rem;
  }
  
  header input,
  header label {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    header nav {
      position: relative;
    }
    header nav > label {
      display: flex;
      width: 50px;
      height: 50px;
      border: 1px solid #3339;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  
    header label span {
      width: 100%;
      height: 5px;
      background: black;
    }
  
    header nav > ul {
      flex-direction: column;
    }
  
    header nav > ul > li:nth-child(4) {
      order: -1;
    }
  
    header nav > ul > li:not(:nth-child(4)) {
      display: none;
    }
  
    header nav > input:checked ~ ul > li {
      display: block;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
  }

  @import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}
footer .con {
  padding:1%;
  color: rgb(107, 107, 107);
  font-weight: bold;
}

.content {
  padding:1%;

  text-align: left;
  color: #999;
  background: #eee;
}

.footer {
  padding: 20px 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
  transition: color .3s;
}

img {
  -webkit-touch-callout: none;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 50%;
  max-height:75%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;

}

.mySlides h1 {
  text-align: center;
}

.mySlides p {
  padding-left: 20px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: 'Courier New', Courier, monospace;
}

body h5 {
  font-weight: bold;
  font-size: large;
  text-align: center;

}

.about {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}


@media (max-width: 480px){.modal {padding-top: 50%;}}
@media (max-width: 480px){.modal-content {  scale:150%}}
@media (max-width: 480px){.modal p{ font-size: 10px; display: inline-block; padding: 5%;}}
@media (max-width: 480px){.modal h1{ font-size: 15px;}}
@media (max-width: 480px){.container a {font-size: 11px;}}